-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/agents?moxi_works_company_id=1234abcd&updated_since=1463595006'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"page_number":1,"total_pages":1,"agents":[{"moxi_works_agent_id":"afdfadafdfad@daadfadfsdfsa.com","office_address_street":"18811 28th Ave W, Suite J","office_address_city":"Lynnwood","office_address_state":"WY","office_address_zip":"98036","name":"Affdasfadsdfas Adfsafdsadfsadsf","mobile_phone_number":null,"alt_phone_number":null,"fax_phone_number":null,"main_phone_number":null,"office_phone_number":"(555) 776-9580","primary_email_address":"afdfadafdfad@daadfadfsdfsa.com","secondary_email_address":"asdfdfsaadfsfads@dfaadfafdafs.com","twitter":null,"google_plus":null,"facebook":null,"home_page":"www.google.com","profile_image_url":"http://media.moxiworks.com/media/ImageStore.dll?id=852087C5D3A533DD\u0026w=200","profile_thumb_url":"http://media.moxiworks.com/media/ImageStore.dll?id=852087C5D3A533DD\u0026w=75"},{"moxi_works_agent_id":"asdfasdfasdfasdfasfd@asdf.com","office_address_street":null,"office_address_city":"Seattle","office_address_state":"WY","office_address_zip":"","name":"Asdf Asdf","mobile_phone_number":null,"alt_phone_number":null,"fax_phone_number":null,"main_phone_number":null,"office_phone_number":"","primary_email_address":"asdfasdfasdfasdfasfd@asdf.com","secondary_email_address":null,"twitter":null,"goog[...]
