-
    request:
        method: PUT
        url: 'https://api.moxiworks.com/api/tasks/whaterfverss'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: 'moxi_works_agent_id=1234abcd&partner_task_id=whaterfverss&partner_contact_id=booyuh&name=Updated+Task2&description=Updated+Task&status=completed&due_at=1467932072&duration=20&completed_at=1467953349'
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_contact_id":"booyuh","partner_task_id":"whaterfverss","name":"Updated Task2","description":"Updated Task","due_at":"1467932072","duration":"20","status":"completed","created_at":"1467951409","completed_at":"1467953349"}'
-
    request:
        method: PUT
        url: 'https://api.moxiworks.com/api/tasks/whaterfverss'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: 'moxi_works_agent_id=1234abcd&partner_contact_id=booyuh&partner_task_id=whaterfverss&name=Updated+Task2&description=Updated+Task&due_at=1467932072&status=completed&completed_at=1467953349&duration=20'
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_contact_id":"booyuh","partner_task_id":"whaterfverss","name":"Updated Task2","description":"Updated Task","due_at":"1467932072","duration":"20","status":"completed","created_at":"1467951409","completed_at":"1467953349"}'
