-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/buyer_transactions?moxi_works_agent_id=1234abcd&moxi_works_transaction_id=feedface-dead-beef-bad4-dad2feedface'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_contact_id":"booyuh","partner_task_id":"whaterfverss","name":"Updated Task2","description":"Updated Task","due_at":"1467932072","duration":20,"status":"completed","created_at":"1467951409","completed_at":"1467953349"}'
