-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/contacts?moxi_works_agent_id=1234abcd&partner_contact_id=booyuh'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_agent_id":"foo","partner_contact_id":"booyuh","moxi_works_contact_id":"009b9297977c","contact_name":"Alfred Ernest Winter","gender":"m","primary_email_address":"alfred.e@winter.is.comi.ng","secondary_email_address":"they.killed@sean.bean","primary_phone_number":"9876654432","secondary_phone_number":"123456778","home_street_address":"26 Winterfell Ave","home_city":"WinterfellCity","home_state":"WinterfellState","home_zip":"123123","home_neighborhood":"WinterfellNeighborhood","home_country":"Westeros","job_title":"King","occupation":"Ruler","business_website":"http://i.yam.winterf.ell","property_url":"Sold Out","property_mls_id":"123123abac","property_street_address":"21 Palace Drive","property_city":"Kings Landing","property_state":"Luberd","property_zip":"91818","property_beds":"12","property_baths":"3.5","property_list_price":"123123","property_listing_status":"Sold","property_photo_url":"http://here.com/is/a/pic.jpg","search_city":"Kings Landing","search_state":"upton","search_zip":"129299","search_min_beds":"32","search_min_baths":"12.75","search_min_price":"129292","search_max_price":"2992999","search_min_sq_ft":"1234","search_max_sq_ft":"1235","search_min_lot_size":"1234","search_max_lot_size":"4321","search_min_year_built":"1234","search_max_year_built":"4321","search_property_types":"Condo, Townhouse, Castle"}'
