-
    request:
        method: PUT
        url: 'https://api.moxiworks.com/api/contacts/booyuh'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: 'moxi_works_agent_id=1234abcd&partner_contact_id=booyuh'
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_agent_id":"","partner_contact_id":"booyuh","moxi_works_contact_id":"009b9297977c","contact_name":null,"gender":null,"primary_email_address":null,"secondary_email_address":null,"primary_phone_number":null,"secondary_phone_number":null,"home_street_address":null,"home_city":null,"home_state":null,"home_zip":null,"home_neighborhood":null,"home_country":null,"job_title":null,"occupation":null,"business_website":null,"property_url":"","property_mls_id":"","property_street_address":"","property_city":"","property_state":"","property_zip":"","property_beds":"","property_baths":"","property_list_price":"","property_listing_status":"","property_photo_url":"","search_city":"","search_state":"","search_zip":"","search_min_beds":"","search_min_baths":"","search_min_price":"","search_max_price":"","search_min_sq_ft":"","search_max_sq_ft":"","search_min_lot_size":"","search_max_lot_size":"","search_min_year_built":"","search_max_year_built":"","search_property_types":""}'
