-
    request:
        method: POST
        url: 'https://api.moxiworks.com/api/action_logs'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: 'moxi_works_agent_id=1234abcd&partner_contact_id=booyuh'
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"moxi_works_agent_id":"1234abcd","partner_contact_id":"booyuh","moxi_works_action_log_id":"35a14e7e47a011e68a085254000f954a","type":"api_action_log_entry_general","timestamp":1468266410,"title":"foo","body":"bar"}'

