-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/offices?moxi_works_company_id=brokeroker'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"page_number":1,"total_pages":8,"offices":[{"moxi_works_office_id":"feedface-dead-beef-fade-bad4dada1355","image_url":"http://media-devint.moxiworks.com/img-np/i/e5c88fc5db11a0f15a11b1388d3b0b3dd1231b5d/0_2_gallery.jpg","name":"5501 placeholder","address":null,"address2":null,"city":null,"county":null,"state":null,"zip_code":"","alt_phone":"","email":null,"facebook":null,"google_plus":null,"phone":"","timezone":"Pacific Time (US \u0025 Canada)","twitter":null},{"moxi_works_office_id":"feedface-dead-beef-fade-bad4dada0f8a","image_url":"http://images-static-devint.moxiworks.com/static/images/br/clear-1x1.png","name":"5502 placeholder","address":null,"address2":null,"city":null,"county":null,"state":null,"zip_code":"","alt_phone":"","email":null,"facebook":null,"google_plus":null,"phone":"","timezone":"Pacific Time (US \u0025 Canada)","twitter":null},{"moxi_works_office_id":"feedface-dead-beef-fade-bad4dada0baf","image_url":"http://images-static-de[...]
