-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/listings?moxi_works_company_id=1234abcd&updated_since=1463595006'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"FinalPage":true,"Listings":[{"LotSizeAcres":0.0,"BathroomsFull":3,"BathroomsHalf":0,"BathroomsOneQuarter":null,"BathroomsPartial":null,"BathroomsThreeQuarter":null,"BathroomsTotalInteger":3,"BathroomsTotal":3.0,"BedroomsTotal":8,"PublicRemarks":"Publicalistically Remarkabalistically! REMARKABLE!!","ModificationTimestamp":"11/01/2016","InternetAddressDisplayYN":true,"DaysOnMarket":0,"ListingContractDate":"07/27/2016","CreatedDate":"11/01/2016","ElementarySchool":null,"GarageSpaces":4,"WaterfrontYN":false,"HighSchool":null,"AssociationFee":null,"ListOfficeName":"Keller Williams Realty Hudson Valley United M","ListPrice":599000,"ListingID":"44616","ListAgentFullName":null,"ListingImages":[{"FullURL":"http://images-static-qa.moxiworks.com/static/images/br/windermere/default_property_image_wre-326x250.png","GalleryURL":"http://images-static-qa.moxiworks.com/static/images/br/windermere/default_property_image_wre-326x250.png","RawURL":"http://images-static-qa.moxiworks.com/static/images/br/windermere/default_property_image_wre-326x250.png","SmallURL":"http://images-static-qa.moxiworks.com/static/images/br/windermere/default_property_image_wre-326x250.png","ThumbURL":"http://images-static-qa.moxiworks.com/static/images/br/windermere/default_property_image_wre-326x250.png"}],"Address":"97 Hilltop Road","Address2":null,"City":"Monticello","CountyOrParish":null,"Latitude":null,"Longitude":null,"StateOrProvince":"NY","PostalCode":"12701","LotSizeSquareFeet":null,"InternetEntireListingDisplayYN":true,"MiddleOrJuniorSchool":null,"ListOfficeAOR":"SULLIVAN MLS","PoolYN":false,"PropertyType":"Residential","TaxAnnualAmount":13652,"TaxYear":2015,"SingleStory":false,"LivingArea":3640,"ViewYN":false,"YearBuilt":1989,"OnMarket":true,"MoxiWorksListingId":"5ce0e9a5-6015-fec5-aadf-a328af2c4cdc"},{"LotSizeAcres":0.0,"BathroomsFull":1,"BathroomsHalf":0,"BathroomsOneQuarter":null,"BathroomsPartial":null,"BathroomsThreeQuarter":null,"BathroomsTotalInteger":1,"BathroomsTotal":1.0,"BedroomsTotal":2,"PublicRemarks":"STATE LAND RIGHT ACROSS THE ROAD....Dont let handyman scare you..With a bit of sweat equity and a small investment you have a great house..almost one acre and a garage within a 2 hour ride of NYC.and in the town of neversink where the taxes a[...]
