-
    request:
        method: GET
        url: 'https://api.moxiworks.com/api/presentation_logs?moxi_works_company_id=1234abcd&updated_after=1463595006'
        headers:
            Authorization: 'Basic YWJjMTIzOnNlY3JldA=='
            Content-Type: application/x-www-form-urlencoded
        body: null
    response:
        status:
            code: '200'
            message: 'OK '
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Etag: 'W/"bf5e4474191c1cbdf09e08dbf8430c13"'
        body: '{"page":1,"total_pages":1,"presentations":[{"agent_uuid":"60d6f848-38d7-4cdb-adf2-4aaea5e10283","agent_fname":"Autobot1","agent_lname":"Agent","title":"12071343 Autobot Buyer CMA to SHARE","created":1512683185,"edited":1512771105,"agent_office_id":8008563,"type":"buyer","sent_by_agent":null,"pdf_requested":0,"pres_requested":0,"external_identifier":"553480","external_office_id":"540000"},{"agent_uuid":"6e02aeec-991f-4903-93ae-280b44c8bbb6","agent_fname":"agent Italiane","agent_lname":"Hearl","title":"12071343 Autobot Buyer CMA to SHARE","created":1512683218,"edited":1512874543,"agent_office_id":8008563,"type":"buyer","sent_by_agent":null,"pdf_requested":0,"pres_requested":0,"external_identifier":"1010","external_office_id":"540000"},{"agent_uuid":"3a14f1b1-0484-4b52-ba98-690ca803c9b4","agent_fname":"Ed","agent_lname":"agent","title":"12071343 Autobot Buyer CMA to SHARE[...]
